<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Chat - Users</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-screen h-screen flex text-whit">
        <div class="w-[350px]">
            <%- include("../layouts/sidebar")  %> 
        </div>
        <div class="w-full">
            <%- include("../layouts/header")  %> 
            <div class="m-10">
                <div class="">
                    <h1 class="text-2xl font-medium ">Edit user</h1>
                </div>
                <br>
                <div class="border border-blac p-3 shadow-md bg-gray-50">
                    <form action="/user/update/<%- user.id %> " method="POST">
                        <div class="flex flex-wrap  gap-y-4 gap-x-5">
                            <div class="flex flex-col w-[436px]">
                                <label for="name">Name *</label>
                                <input name="name" type="text" value="<%- user.name %>"
                                class="border rounded-lg border-black mt-2 px-2 py-1 duration-150 hover:drop-shadow-md focus:drop-shadow-md">
                            </div>
                
                            <div class="flex flex-col w-[436px]">
                                <label for="button">Email *</label>
                                <input name="email" type="email" placeholder="user@email.com" value="<%- user.email %>"
                                class="border rounded-lg border-black mt-2 px-2 py-1 duration-150 hover:drop-shadow-md focus:drop-shadow-md">
                            </div>
                
                            <div class="flex flex-col w-[436px]">
                                <label for="password">Password</label>
                                <input name="password" type="password"
                                class="border rounded-lg border-black mt-2 px-2 py-1 duration-150 hover:drop-shadow-md focus:drop-shadow-md">
                            </div>

                            <div class="flex flex-col w-[436px]">
                                <label for="confirm-password">Confirm Password</label>
                                <input name="confirm-password" type="password"
                                class="border rounded-lg border-black mt-2 px-2 py-1 duration-150 hover:drop-shadow-md focus:drop-shadow-md">
                            </div>
                        </div>
                        <br>
                        <div>
                            <button type="submit" class="rounded-full cursor-pointer bg-gray-800 p-2 text-white"><span>Update</span></button>
                            <a href="/user">
                                <button type="button" class="rounded-full cursor-pointer bg-gray-800 p-2 text-white">Back</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <%- include("../layouts/footer")  %> 
        </div>
    </div>
</body>
</html>